#motion-b {
  margin: 100px;
}
.loading-button {
  position: relative;
  display: flex;
  flex: none;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0 18px 0 16px;
  width: 76px;
  height: 28px;
  color: #FFF;
  text-align: center;
  border-radius: 14px;
  overflow: hidden;
  background-color: #07C1E4;
  line-height: 28px;
  font-size: 14px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  transform: rotate(0deg);
}
.label1 {
  text-align: left;
}
.label2 {
  text-align: left;
  display: none;
}
.icon-button {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  flex: none;
}
.spinner-w {
  stroke-dasharray: 100;
  stroke-dashoffset: 95;
}
.spinner-w.loaded {
  animation: closecircle .6s ease-in-out 0s 1 alternate forwards;
}
@keyframes closecircle {
  0% {
    stroke-dashoffset: 95;
  }
  60% {
    stroke-dashoffset: 80;
  }
  99% {
    stroke-dashoffset: 80;
    stroke-width: 4;
  }
  100% {
    stroke-dashoffset: 80;
    fill: #FFF;
    stroke-width: 0;
  }
}

.arrowup {
  animation: arrowup .4s ease-in-out 0s 1 alternate forwards;
}
@keyframes arrowup {
  0% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(-6.3px);
  }
  100% {
    transform: translateY(-5.9px);
  }
}

