#motion-b {
  margin: 100px;
}
.loading-button {
  position: relative;
  display: flex;
  flex: none;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0 18px 0 16px;
  width: 76px;
  height: 28px;
  color: #FFF;
  text-align: center;
  border-radius: 14px;
  overflow: hidden;
  background-color: #07C1E4;
  line-height: 28px;
  font-size: 14px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  transform: rotate(0deg);
}
.label {
  position: absolute;
  text-align: left;
  top: 0;
  left: 38px;
}
.label1 {
  position: absolute;
  top: 0;
}
.hidelabel1 {
  animation: hidelabel1 .2s ease-in-out 0s 1 alternate forwards;
}
@keyframes hidelabel1 {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -20px;
  }
}
.label2 {
  position: absolute;
  width: 100px;
  opacity: 0;
  top: 0;
  left: 50px;
}
.showlabel2 {
  animation: showlabel2 .3s ease-in-out 0s 1 alternate forwards;
}
@keyframes showlabel2 {
  0% {
    opacity: 0;
    left: 30px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.icon-button {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  flex: none;
}
.spinner-w {
  stroke-dasharray: 100;
  stroke-dashoffset: 97;
}
.spinner-w.loaded {
  animation: closecircle .3s ease-in-out 0s 1 alternate forwards;
}
@keyframes closecircle {
  0% {
    stroke-dashoffset: 95;
  }
  60% {
    stroke-dashoffset: 80;
  }
  80% {
    stroke-dashoffset: 80;
    stroke-width: 3.5;
  }
  100% {
    stroke-dashoffset: 80;
    stroke-width: 0;
    fill: #FFF;
  }
}

.arrowup {
  animation: arrowup .2s ease-in-out 0s 1 alternate forwards;
}
@keyframes arrowup {
  0% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-6.3px);
  }
  100% {
    transform: translateY(-5.9px);
  }
}

