@font-face {
	font-family: 'Segoe UI';
	src: url('../static/font/segoeui.eot');
	src: local('☺'), url('../static/font/segoeui.woff') format('woff'), url('../static/font/segoeui.ttf') format('truetype'), url('../static/font/segoeui.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../static/font/segoeuib.eot');
	src: local('☺'), url('../static/font/segoeuib.woff') format('woff'), url('../static/font/segoeuib.ttf') format('truetype'), url('../static/font/segoeuib.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI Light';
	src: url('../static/font/segoeuil.eot');
	src: local('☺'), url('../static/font/segoeuil.woff') format('woff'), url('../static/font/segoeuil.ttf') format('truetype'), url('../static/font/segoeuil.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI Semibold';
	src: url('../static/font/seguisb.eot');
	src: local('☺'), url('../static/font/seguisb.woff') format('woff'), url('../static/font/seguisb.ttf') format('truetype'), url('../static/font/seguisb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
	position: relative;
	font-family: 'Segoe UI','Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px; 
	padding: 0px;
	outline: none; 
	list-style: none;
	user-select: none;
}
html,body{
	position: relative; 
	height: 100%;
	color: #292929;
	font-size: 14px;
	overflow:hidden;
	background-color: #f3f3f3;
}
i{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

.con_flex_column{ display: -webkit-flex; -webkit-flex-flow: column;}
.con_flex_row{ display: -webkit-flex; -webkit-flex-flow: row;}
.flex_none{-webkit-flex:none;}
.flex_1{-webkit-flex:1;}

.con{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
}

#popover{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	pointer-events: none;
}

.menuitm:hover{
    background-color: rgba(4,159,217,0.08);
}

.uibutton {
	height: 36px;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	border-radius: 18px;
	cursor: pointer;
	pointer-events: auto;
	background-color: rgba(0,0,0,0.12);
}
.uibutton.s32 {
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	border-radius: 16px;
}
.uibutton.s24 {
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	border-radius: 12px;
}
.uibutton.green {
	color: #FFF;
	background-color: #3E9D3D;
}
.uibutton.green:hover {
	background-color: #27B84B;
}
.uibutton.red {
	color: #FFF;
	background-color: #F5483F;
}
.uibutton.red:hover {
	color: #FFF;
	background-color: #EB4937;
}
.uibutton.disabled {
	color: #FFF;
	background-color: #ccc;
	pointer-events: none;
	cursor: default;
}

.uicheckbox{
	font-size: 15px;
	padding-left: 24px;
	display: inline-block;
	cursor: pointer;
}
.uicheckbox.off{
	background: url(../img/checkbox_off.svg) no-repeat 0 2px;
}
.uicheckbox.on{
	background: url(../img/checkbox_on.svg) no-repeat 0 2px;
}

.uiinput {
	height: 32px;
	font-size: 14px;
	line-height: 32px;
}

.uiinput.pill {
	text-align: center;
	border-radius: 16px;
	background-color: rgba(0,0,0,0.12);
}

/* ----- jquery UI ------ */
.ui-selectmenu-button.ui-button {
  height: 30px !important;
  line-height: 30px !important;
}

/* ---------- fillable svg icon ----------- */
.icobtn svg .fill,
.icobtn_s svg .fill{
    fill: #343537;
}
.icobtn svg .stroke,
.icobtn_s svg .stroke{
    stroke: #343537;
}
.icobtn .selected svg .fill,
.icobtn.selected svg .fill{
    fill: #FFF;
}
.icobtn_s .selected svg .fill,
.icobtn_s.selected svg .fill{
    fill: #FFF;
}
.icobtn .selected svg .stroke,
.icobtn.selected svg .stroke{
    stroke: #FFF;
}
.icobtn_s .selected svg .stroke,
.icobtn_s.selected svg .stroke{
    stroke: #FFF;
}


.checkbox{
  margin-top: 18px;
  font-size: 15px;
  padding-left: 24px;
  display: inline-block;
  cursor: pointer;
}
.checkbox.off{
  background: url(../img/icon/checkbox_off.svg) no-repeat 0 2px;
}
.checkbox.on{
  background: url(../img/icon/checkbox_on.svg) no-repeat 0 2px;
}

.mirror {
	
}