body {
  background: #FFF;
  font-family:'SF-Pro-Text-Regular';
  cursor: default;
}

.disabled {
	pointer-events: none !important;
}

.con_flex_column{ 
	display: -webkit-flex !important;
	-webkit-flex-flow: column;
	-webkit-flex-wrap: nowrap;

}
.con_flex_row{ 
	display: -webkit-flex !important;
	-webkit-flex-flow: row; 
	-webkit-flex-wrap: nowrap;
}
.flex_none{-webkit-flex:none;}
.flex_1{-webkit-flex:1;}

.trans{
	transition: all 0.3s ease-out;
}


.block {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.block .inside {
  position: absolute;
  border-radius: 4px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 4px;
  overflow: hidden;
  top: 3px;
  left: 3px;
}

#block0 {
  left: 270px;
  top: 300px;
}
#block1 {
  top: calc(300px - 100px);
}
#block2 {
  top: calc(300px - 100px);
}
#block3 {
  top: 300px;
}

#block0 .inside {
  background: #A866FF;
}
#block1 .inside {
  background: #D8D8D8;
}
#block2 .inside {
  background: #D8D8D8;
}
#block3 .inside {
  background: #D8D8D8;
}

.hitarea{
  position: absolute;
  transform-origin: 50% 50%;
  transition: none;
  background-color: #E99BEA !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#cursorfeedback {
  position: absolute;
  width: 88px;
  height: 88px;
  pointer-events: none;
}
#cursorfeedback .bg {
  position: absolute;
  transition: all 0.4s ease-out;
  transform-origin: 50% 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F8E1F8;
  top: 39px;
  left: 39px;
}
#cursorfeedback .circle {
  position: absolute;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: all 0.4s ease-out;
  background-color: #E99BEA;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: 40px;
  left: 40px;
}
#cursorfeedback .circle2 {
  position: absolute;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: all 0.4s ease-out;
  background-color: #F8E1F8;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  top: 43px;
  left: 43px;
}

.shadow {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5), 0 4px 12px rgba(0, 0, 0, 0.16) !important;
}

.border {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5) inset !important;
}
